{{#each this}}
<li class="card">
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" data-id="{{id}}"
        data-genres={{genresNames}} data-year={{year}} data-rating={{rating}} data-poster={{poster_path}}>
    <div class="card__text-content">
        <h1 class="films__title">{{title}}</h1>
        <p class="films__paragraph">
            {{#each genresNames}}{{this }} {{/each}} | <span class="year">{{year}}</span>
            <span class="films__rating rating-position">{{rating}}</span>
        </p>
    </div>
</li>
{{/each}}