<ul class="list team-list">
    {{#each this}}
    <li class="team-item">
        <a class="team-item__link" href="{{github}}" target="_blank">
            <img class="team-item__img" src="{{photo}}" width="180" alt="{{position}}" />
            <div class="team-item__text">
                <p class="team-item__name">{{name}} {{surname}}</p>
                <p class="team-item__position">{{position}}</p>
            </div>

        </a>
    </li>
    {{/each}}
</ul>